problems/problem_sets/*

.venv
**/__pycache__
.coverage
coverage.xml
.vscode
.env
*.log
.ipynb_checkpoints
.pytest_cache
.snakemake
.cache
.conda
.condarc
results
temp
resources
benchmarks
**/*.sif
data
*.zip
*.pkl
workflow/scripts/cross_validation_targets/*.json
workflow/scripts/targets_with_hyperparams/*.json
workflow/scripts/outputs/*.json
done-soon-venv
notebooks/analysis/train-output*/
**/*.tex
*.fzn
*.ozn