astroid==2.12.11
attrs==21.4.0
autopep8==1.7.0
coverage==6.4.4
dacite==1.6.0
dill==0.3.5.1
dnspython==2.2.1
iniconfig==1.1.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
mongomock==4.1.2
packaging==21.3
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
pycodestyle==2.9.1
pylint==2.15.4
pymongo==4.2.0
pyparsing==3.0.9
pytest==7.1.2
pytest-cov==3.0.0
sentinels==1.0.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.5
tqdm==4.64.1
wrapt==1.14.1
